.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-photo-text {
    color: #3390EC;
    font-size: 14px;
    margin-top: 8px;
    cursor: pointer;
    display: block;
}